body,html {
	margin: 0;
	padding: 0;
	color: #222;
	background-color: white;
	font-size: 12pt;
	font-family: sans-serif;
}

body {
	max-width: 600px;
	margin: 30px auto;
        line-height: 1.5;
}

h1 {
	font-weight: 600;
	font-size: 20pt;
	text-align: center;
	color: #111;
	margin: 0 0;
}

h2 {
	font-size: 16pt;
	font-weight: 700;
}

#share a {
	display: block;
	padding: 20px 0;
        background-color: #ddf;
        color: blue;
        text-decoration: none;
        font-size: 13pt;
	border-radius: 10px;
	width: 260px;
	margin: 25px auto;
	text-align: center;
}
