body,html {
	margin: 0;
	padding: 0;
	color: #222;
	background-color: white;
	font-size: 12pt;
	font-family: Arial, sans-serif;
}

body {
	max-width: 700px;
	margin: 0 auto;
	line-height: 1.5;
}

#langbar {
	text-align: center;
	font-size: 10pt;
	color: #555;
}
#langbar a {
	color: blue;
}

h1 {
	font-weight: 600;
	font-size: 20pt;
	text-align: center;
	color: #111;
	margin: 20px 0 0;
}

h2 {
	font-size: 16pt;
	font-weight: 700;
}

#share a {
	display: block;
	padding: 20px 0;
	background-color: #ddf;
	color: blue;
	text-decoration: none;
	font-size: 13pt;
	border-radius: 10px;
	width: 260px;
	margin: 25px auto;
	text-align: center;
}

.map {
	height: 250px;
}

/* markdown stuff */

code, pre {
	background: #f4f4f4;
	font-size: 10pt;
}
pre {
	padding: 4px 6px;
}

code .s2, code .s1, code .s { color: #d14; }
code .cp { color: #888; font-weight: bold; }
code .nt { color: #000080; }
code .na, code .nb { color: #008080; }
code .kd, code .kc, code .k, code .o { font-weight: bold; }
code .c, code .c1 { color: #888; font-style: italic; }
code .mi { color: #099; }

