<ul>
<li><b>phpBB 2</b>: <a href="https://github.com/MapBBCode/mapbb-phpbb2/raw/master/dist/mapbbcode_mod.zip">Download MOD</a> (EasyMOD-compatible), <a href="https://github.com/MapBBCode/mapbb-phpbb2">GitHub Repository</a></li>
<li><b>phpBB 3</b>: <a href="https://www.phpbb.com/community/viewtopic.php?f=70&amp;t=2205161">MOD Discussion</a>, <a href="https://github.com/MapBBCode/mapbb-phpbb3">GitHub Repository</a></li>
<li><b>FUDforum</b>: <a href="https://github.com/MapBBCode/mapbb-fud/raw/master/dist/mapbbcode_fud.zip">Download MOD</a>, <a href="https://github.com/MapBBCode/mapbb-fud">GitHub Repository</a></li>
<li><b>PunBB</b>: <a href="https://github.com/MapBBCode/mapbb-punbb/raw/master/dist/mapbbcode_punbb.zip">Download MOD</a>, <a href="https://github.com/MapBBCode/mapbb-punbb">GitHub Repository</a></li>
</ul>
