<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %}{{ page.title }} — {% endif %}MapBBCode</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/style.css">
{% if page.needmap %}
<link rel="stylesheet" href="/lib/leaflet.css" />
<script src="/lib/leaflet.js"></script>
<script src="/lib/mapbbcode.js"></script>
<script>
var mapBB = new MapBBCode({
    fullViewHeight: 300,
    fullFromStart: true
});
</script>
{% endif %}
</head>
<body>
{% include langbar.html %}
{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
{{ content }}
{% include piwik.html %}
</body>
</html>
